{% if admin %}
    {% include "store/baseadmin.html" %}
{% else %}
    {% include  "store/base.html" %}
{% endif %}

{% block content %}
<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-10 offset-1">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Items</th>
                      <th scope="col">catagories</th>
                      <th scope="col">quantity</th>
                      <th scope="col">cost Price</th>
                      <th scope="col">selling Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in addstore %} 
                        <tr>
                            <td>{{i.item.item_name}}</td>
                            <td>{{i.item.catagories}}</td>
                            <td>{{i.quantityNo}} {{i.quantityUnit}}</td>
                            <td>{{i.costPrice}}</td>
                            <td>{{i.sellingPrice}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
</div>

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 2000);
</script>
{% endblock content %}