{% if admin %}
    {% include "store/baseadmin.html" %}
{% else %}
    {% include  "store/base.html" %}
{% endif %}
{% load event_tags %}
{% block content %}
<style>
    .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */
        display: flex;
        align-items: center;
    }
</style>

<div class="container" style="margin-top: 2%;">
    <form action="/sale/" method="post">
        {% csrf_token %}
        <label for="cdate">Choose the date to get sales report: </label>
        <input type="date" name="cdate" id="cdate">
        <input type="submit" value="Get">
    </form>
    <div class="row">
        <div class="col-10 offset-1">
            {% if temp %}
                <div style="text-align: center;">
                    {{msg}}
                </div>
            {% else %}
                <h3 style="text-align: center;">Sales on {{cdate}}</h3>
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                        <th scope="col">Items</th>
                        <th scope="col">catagories</th>
                        <th scope="col">sold quantity</th>
                        <th scope="col">Sold on</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in sale %} 
                            {% if i.soldquantity > 0  %}
                                <tr id="{{i.item}}">
                                    <td>{{i.item}}</td>
                                    <td>{{i.item.item.catagories}}</td>
                                    <td>{{i.soldquantity}}</td>
                                    <td>{{i.created_at}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    {% if return %}
    <div class="row">
        <div class="col-10 offset-1">
            <h3 style="text-align: center;">Return Product</h3>
            <table class="table" style="text-align: center;">
                <thead>
                    <tr>
                    <th scope="col">Items</th>
                    <th scope="col">catagories</th>
                    <th scope="col">Returned quantity</th>
                    <th scope="col">Returned on</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in return %} 
                        {% if 0 > i.soldquantity %}
                            <tr id="{{i.item}}">
                                <td>{{i.item}}</td>
                                <td>{{i.item.item.catagories}}</td>
                                <td>{{i.soldquantity |abs }}</td>
                                <td>{{i.created_at}}</td>
                            </tr>
                        {% endif %}  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
<script>
    
</script>
{% endblock content %}
